<header class="sticky">
  <div class="enlaces-registro">
    <span class="icon-user"></span>
    <%=usuario.email%> | <%=usuario.perfil%>
        <a href="/cerrar-sesion">Cerrar Sesion</a>
  </div>
  <a href="#" class="logo">Reserva Tu Lugar</a>
  <a href="/reservar" class="button"><span class="icon-credit"></span>Reservar Lugar</a>
</header>