<header class="sticky">
    <div class="enlaces-registro">
        <span class="icon-user"></span>
        <%=usuario.email%> | <%=usuario.perfil%>
                <a href="/cerrar-sesion">Cerrar Sesion</a>
    </div>
    <a href="#" class="button"><span class="icon-credit"></span>Reservar Lugar</a>
    <a href="#" class="button"><span class="icon-credit"></span>Alta de usuario</a>
    <a href="#" class="button"><span class="icon-credit"></span>Baja de usuario</a>
    <a href="#" class="button"><span class="icon-credit"></span>Modificaicon de Usuario</a>
</header>