<header class="sticky">
    <div class="enlaces-registro">
        <span class="icon-user"></span>
        <%=usuario.email%> | <%=usuario.perfil%>
                <a href="/cerrar-sesion">Cerrar Sesion</a>
    </div>
    <a href="/index/reservar-lugar" class="button"><span class="icon-credit"></span>Reservar</a>
    <a href="/admin/abm-usuario" class="button"><span class="icon-credit"></span>ABM de usuario</a>
    <a href="/admin/abm-area" class="button"><span class="icon-credit"></span>ABM de Areas</a>
</header>