<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reserva tu lugar</title>
    <link rel="stylesheet" href="../stylesheets/estilos.css">
    <link rel="stylesheet" href="../stylesheets/mini-default.min.css">
</head>

<body>
    <%- include ('./partials/back') %>

        <div class="container">
            <h1>Registro</h1>
            <p>Ingresa tus datos para ser un nuevo autor</p>

            <div class="row">
                <div class="col-sm-12">

                            <form action="/procesar_registro" method="post" enctype="multipart/form-data">
                                <fieldset>
                                    <legend>Nuevo Autor</legend>
                                    <p>
                                        <label for="email">Email</label> <br>
                                        <input type="email" name="email" id="email" required="true">
                                    </p>
                                    <p>
                                        <label for="contrasena">Contraseña</label><br>
                                        <input type="password" name="contrasena" id="contrasena" required="true">
                                    </p>
                                    <p>
                                        <label for="pseudonimo">Pseudonimo</label><br>
                                        <input type="text" name="pseudonimo" id="pseudonimo" required="true">
                                    </p>
                                    <p>
                                        <Label>Avatar</Label> <br>
                                        <input type="file" name="avatar" id="avatar">
                                    </p>
                                    <p>
                                        <input class="primary" type="submit" value="Continuar">
                                    </p>
                                </fieldset>
                            </form>
                </div>
            </div>
        </div>

        <%- include ('./partials/piePagina') %>
            <script src="../javascripts/script.js"></script>
</body>

</html>