<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Inicio de Sesion</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" th:href="@{/css/styles.css}">

</head>

<body>
    <div class="modal-dialog text-center">
        <h1 style="color: aliceblue;">API REST RESERVA TU LUGAR</h1>
        <h2 style="color:black">DOCUMENTACION:</h2>
        <h3 style="color: aliceblue;">
            <a href="https://github.com/jhoncar7/GestionDeReservas" style="color: aliceblue;">https://github.com/jhoncar7/GestionDeReservas</a>
        </h3>
    </div>
</body>

</html>