<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>API Doc</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="col"></div>
        <div class="col-8 pt-3">
            <h1>API REST RESERVA TU LUGAR</h1>
            <h5><a href="https://github.com/jhoncar7/GestionDeReservas">Repo de github</a></h5>
            <hr>
            <h3>Rutas</h4>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <h5>Users</h5>
                            <p><span class="badge badge-pill badge-primary">GET</span> /api/v1/users</p>
                            <p><span class="badge badge-pill badge-primary">GET</span> /api/v1/user/:id</p>
                            <p><span class="badge badge-pill badge-success">POST</span> /api/v1/user</p>
                            <p><span class="badge badge-pill badge-success">POST</span> /api/v1/login</p>
                            <p><span class="badge badge-pill badge-warning">PUT</span> /api/v1/user/:id</p>
                            <p><span class="badge badge-pill badge-danger">DELETE</span> /api/v1/user/:id</p>
                        </div>
                        <span class="badge badge-primary badge-pill">6</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <h5>Profiles</h5>
                            <p><span class="badge badge-pill badge-primary">GET</span> /api/v1/profiles</p>
                            <p><span class="badge badge-pill badge-primary">GET</span> /api/v1/profile/:id</p>
                            <p><span class="badge badge-pill badge-success">POST</span> /api/v1/profile</p>
                            <p><span class="badge badge-pill badge-danger">DELETE</span> /api/v1/profile/:id</p>
                        </div>
                        <span class="badge badge-primary badge-pill">4</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <h5>Reservation</h5>
                            <p><span class="badge badge-pill badge-primary">GET</span> /api/v1/reservations</p>
                            <p><span class="badge badge-pill badge-primary">GET</span> /api/v1/reservation/:date</p>
                            <p><span class="badge badge-pill badge-success">POST</span> /api/v1/reservation</p>
                        </div>
                        <span class="badge badge-primary badge-pill">3</span>
                    </li>
                </ul>
        </div>
        <div class="col"></div>
    </div>
</body>

</html>